<a href="https://colab.research.google.com/github/01fe21bei016/Python/blob/main/functions0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def name():
  print("aish")
def roll_no():
  print("115")

name()
roll_no()

aish
115

In [ ]:
def fun(child3,child2,child1):
  print("THE YOUNGEST CHILD IS " + child3)
fun(child1="AISH",child2="SOUNDS",child3="PABBI")

THE YOUNGEST CHILD IS PABBI

In [82]:
def add(x, y):
    return x + y
def subtract(x, y):
    return x - y
def multiply(x, y):
    return x * y
def divide(x, y):
    return x / y
print("Select operation.")
print("1.Add")
print("2.Subtract")
print("3.Multiply")
print("4.Divide")
while True:
    choice = input("Enter choice(1/2/3/4): ")
    if choice in ('1', '2', '3', '4'):
        try:
            num1 = float(input("Enter first number: "))
            num2 = float(input("Enter second number: "))
        except ValueError:
            print("Invalid input. Please enter a number.")
            continue

        if choice == '1':
            print(num1, "+", num2, "=", add(num1, num2))

        elif choice == '2':
            print(num1, "-", num2, "=", subtract(num1, num2))

        elif choice == '3':
            print(num1, "*", num2, "=", multiply(num1, num2))
        elif choice =='4':
            print(num1, "/", num2, "=", divide(num1, num2))
        else :
            print("invalid choice")

Select operation.
1.Add
2.Subtract
3.Multiply
4.Divide
Enter choice(1/2/3/4): 2
Enter first number: 90
Enter second number: 100
90.0 - 100.0 = -10.0
Enter choice(1/2/3/4): 2
Enter first number: 5
Enter second number: f
Invalid input. Please enter a number.
Enter choice(1/2/3/4): 4
Enter first number: 1
Enter second number: 1
1.0 / 1.0 = 1.0
Enter choice(1/2/3/4): 3
Enter first number: 10
Enter second number: 40
10.0 * 40.0 = 400.0

KeyboardInterrupt: ignored

In [ ]:
def cake_baker(p,f,s):
  print("no of pieces= ",p)
  print("Type of flvour= ",f)
  print("weight of cake=",s)
cake_baker()

In [ ]:
n=int(input("NUMBER"))
for i in range(1,11):
  x=n*i
  print(n,'*',i,'=',x)

NUMBER5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [69]:
def print_table(num):
    for i in range(1,11):
        print(num,'*', i, ' = ',num*i)
n = int(input("ENTER N:"))
print_table(n)

ENTER N:6
6 * 1  =  6
6 * 2  =  12
6 * 3  =  18
6 * 4  =  24
6 * 5  =  30
6 * 6  =  36
6 * 7  =  42
6 * 8  =  48
6 * 9  =  54
6 * 10  =  60

In [ ]:
def table(n):
 for i in range(1,11):
  x=n*i
  print(n,'*',i,'=',x)
n=int(input("NUMBER"))
table(n)

NUMBER23
23 * 1 = 23
23 * 2 = 46
23 * 3 = 69
23 * 4 = 92
23 * 5 = 115
23 * 6 = 138
23 * 7 = 161
23 * 8 = 184
23 * 9 = 207
23 * 10 = 230

In [ ]:
#1)Write a program to print first 10 natural numbers

def nat():
  for i in range(1,11,1):
    print(i)
nat()

1
2
3
4
5
6
7
8
9
10

In [77]:
#2)Write a program to print  Fibonacci series
def fibo():
  a=0
  b=1
  for y in range(5):
    print(a)
    n=a+b
    a=b
    b=n

fibo()

0
1
1
2
3

In [41]:
#3)Write a program to find a factorial of first 10 odd number
def facto():

  n=1
  for x in range(1,20):
    n=x*n
    if (x%2!=0):
       print(n)
facto()

1
6
120
5040
362880
39916800
6227020800
1307674368000
355687428096000
121645100408832000

In [43]:
#4)Write a program to print first 10 odd numbers
def nat():
  for i in range(1,21,2):
    print(i)
nat()

1
3
5
7
9
11
13
15
17
19

In [53]:
#5)Write a program to print  first 10 even numbers in reverse order
import math
lis=[]
def nat():
  for i in range(0,20,2):
    lis.append(i)
  print(lis)
  list.reverse(lis)
  print(lis)
nat()

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[18, 16, 14, 12, 10, 8, 6, 4, 2, 0]

In [ ]:
#6)Write a program to arrange numbers in half ascending and half descending order

In [59]:
#7)Write a program to separate odd numbers and even numbers from a given array
import numpy as np
lis1=[]
lis2=[]
a=np.array([1,5,6,3,1,2,4,6])
def oddeven():
  for i in a:

    if(i%2==0):

      lis1.append(i)
    else:
      lis2.append(i)
  print(lis1)
  print(lis2)
oddeven()

[6, 2, 4, 6]
[1, 5, 3, 1]

In [74]:
#8) Accept 10 numbers from user and display their averages
def ave():
  s=0
  for i in range(n):

    y=int(input("enter number"))
    s=s+y
  print(s)
  a=s//n

  print(a)


n=int(input("ENTER N"))
lis1=[]
ave()

ENTER N3
enter number1
enter number2
enter number3
6
2

In [68]:
#9)Write a program to display all the numbers which are divisible by 11 bu not by 2 between 100 and 500
def div():
  for x in range(100,500):

    if(x%11==0 and x%2!=0):
       print(x)
div()

121
143
165
187
209
231
253
275
297
319
341
363
385
407
429
451
473
495

In [72]:
#10)Write a program that keep on accepting numbers from the user until user enters 00. Display factorial of entered numbers
arr=[]
def null():
  while 1:
    x=int(input("ENTER : "))
    if x==0:
      break
    else:
        f=1
        for i in range (1,x+1):
          f=f*i
        arr.append(f)
  print(arr)
null()

ENTER : 2
ENTER : 3
ENTER : 5
ENTER : 0
[2, 6, 120]