<a href="https://colab.research.google.com/github/01fe21bei016/Python/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Aishwaryaaa")

Aishwaryaaa

In [ ]:
set1={'Aish','b','k'}
print(set1)
set1={'Aish','b','k',"k"}
print(set1)

{'b', 'Aish', 'k'}
{'b', 'Aish', 'k'}

In [ ]:
set1.add('newnmae')
print(set1)
set2={'sounds','beauty'}
set1.update(set2)
print(set1)

{'b', 'Aish', 'newnmae', 'k'}
{'Aish', 'beauty', 'k', 'newnmae', 'sounds', 'b'}

In [ ]:
dict1={"name":"Aishwarya",
       "Standard":"degree",
       "year":"3rd"}
print(dict1)
print(type(dict1))

{'name': 'Aishwarya', 'Standard': 'degree', 'year': '3rd'}
<class 'dict'>

In [ ]:
dict2=dict(animal="Tiger")
print(dict2)

{'animal': 'Tiger'}

In [ ]:
print('svip')

svip

In [ ]:
x=10
y=5
mul=x*y
print(mul)

50

In [ ]:
a=5
square=a**3
print(square)

125

In [ ]:
import math
a=10
root=math.sqrt(a)
print(root)

3.1622776601683795

In [ ]:
name="Aish"
print(type(name))

<class 'str'>

In [ ]:
num=10
print(type(num))

<class 'int'>

In [ ]:
lis=['aish','b','k']
type(lis)
print(lis)

['aish', 'b', 'k']

In [ ]:
lis2=['prats','p','h']
print(len(lis))
print(len(lis2))
lis3=lis+lis2
print(lis3)

3
3
['aish', 'b', 'k', 'prats', 'p', 'h']

In [ ]:
lis2.append("Hubli")
print(lis2)

['prats', 'p', 'h', 'Hubli', 'Hubli']

In [ ]:
lis2.clear()
print(lis2)

[]

In [ ]:
print(lis3)

['aish', 'b', 'k', 'prats', 'p', 'h']

In [ ]:
lis[0]

'aish'

In [ ]:
lis3.sort()
print(lis3)

['aish', 'b', 'h', 'k', 'p', 'prats']

In [ ]:
x=9
y=10
sum=x+y
print(sum)

19

In [ ]:
#IF ELSE
a=input("Enter the value of a")
b=input("Enter the value of b")
if a>b:
  print("a is greater than b")
else:
 print('a is less than b')

Enter the value of a1
Enter the value of b2
a is less than b

In [ ]:
p=int(input("enter y"))
q=int(input("Enter z"))
sum=p+q
print(sum)

enter y1
Enter z2
3

In [ ]:
w=input("Entr w")
y=input("Enter y")
if w>y:
  sum=w+y
  print(sum)

Entr w5
Enter y2
52

In [ ]:
ball1="green"
ball2="red"
ball3='blue'
picked_ball=input("enter picked ball")

if picked_ball==ball1:
  print("green")
elif picked_ball==ball2:
   print("red")
else:
  print("blue")

enter picked ballred
red

In [ ]:
print(1 & 0)
print(0x1 & 0x0)

0
0

In [ ]:
#count number of times element is occured
tuple1=("CS",'EC',"ECII","ECII","EC",'ECII')
print(type(tuple1))
print(tuple1)
z=tuple1.count('ECII')
print(z)
y=tuple1.count('EC')
print(y)

<class 'tuple'>
('CS', 'EC', 'ECII', 'ECII', 'EC', 'ECII')
3
2

In [ ]:
#To find duplicates of eleemnt if elemnt occured more twice in an array print true else false
tuple2=('1','2','3','4','5','1','2','3','1','2','3','4','6')
#tuple2=(1,2,3 ,4,5)
print(type(tuple2))
v=tuple2.count('1')
w=tuple2.count('2')
x=tuple2.count('3')
y=tuple2.count('4')
z=tuple2.count('5')
print(v)
print(w)
print(x)
print(y)
print(z)
if  v>2 or w>2 or x>2 or y>2 or z>2:
 print("TRUE")
elif v==1 and w==1 and x==1 and y==1 and z==1:
  print("FALSE")
else :
  print("NONE")
#print(v>2 or w>2 or x>2 or y>2 or z>2)

<class 'tuple'>
3
3
3
2
1
TRUE

In [ ]:
#write a program to reverse content of array
list1=["aish","k","b"]
list.reverse(list1)
print(list1)

['b', 'k', 'aish']

In [ ]:
#Program to check equality of two strings
list1=["aish","k","b"]
list2=["aish","k","x"]
print(list1[0]==list2[0] and list1[1]==list2[1] and list1[2]==list2[2])

False

In [ ]:
#write a program to get the current memory address and length in the elements of buffer used to hold an arrays contents. Also find the size of the memory buffer in bytes.
list4=[1,2,3,4,5]
print(list4.index(2))
print(len(list4))
print(id(list4))
import numpy as np
list4=np.array(list4)
print("bytes=",list4.size*list4.itemsize)

1
5
135910631853568
bytes= 40

In [ ]:
#Program to check equality of two strings
list1=["aish","k","b"]
list2=["aish","k","b"]
if list1[0]==list2[0] and list1[1]==list2[1] and list1[2]==list2[2]:
  print("EQUALL")
else :
  print("NOT EQUAL")

EQUALL